/* styles.css */

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style pour la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style pour le contenu principal */
main {
    padding: 20px;
}

/* Style pour les sections */
section {
    margin-bottom: 30px;
}

/* Style pour les produits */
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    max-width: 60%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
}

.product span {
    font-weight: bold;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav ul {
    margin-bottom: 10px;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style pour le message de copyright */
footer p {
    margin: 0;
}
